.Screen {
    margin: 2px 10px;
    height: 150px;
    background: white;
}

.red {

    background: red;
}

.green {
    background: #00e0b7;
}

button {
    margin: -2px;
    padding: 0;
    border: 0;
    width: 123px;
    height: 60px;
    background: #585b60;
    color: white;
    font-size: 24px;
}

button:hover {
    background: black;
}